<div class="rentals">
  <label>
    <span>Where would you like to stay?</span>
    {{!-- Ember's Input component is pretty neat; it will wire up things behind the --}}
    {{!-- scenes such that, whenever the user types something into the input box, --}}
    {{!-- this.query changes accordingly. In other words, this.query is kept in --}}
    {{!-- sync with the value of what is being searched; we finally have the perfect --}}
    {{!-- way of storing the state of our search query! --}}
    <Input @value={{this.query}} class="light" placeholder="Search by rental property's title" />
  </label>

  <ul class="results">
    {{!-- While extracting our markup from index.hbs into a component --}}
    {{!-- we also renamed the @model argument to be @rentals instead, --}}
    {{!-- just in order to be a little more specific about what we're --}}
    {{!-- iterating over in our {{#each}} loop. --}}
    <Rentals::Filter @rentals={{@rentals}} @query={{this.query}} as |results|>
      {{#each results as |rental|}}
        <li><Rental @rental={{rental}} /></li>
      {{/each}}
    </Rentals::Filter>
  </ul>
</div>