<Jumbo>
  <h2>Welcome to Super Rentals!</h2>
  <p>We hope y ou find exactly what you're looking for in a place to stay.</p>
  <LinkTo @route="about" class="button">About Us</LinkTo>
</Jumbo>

<div class="rentals">
  <ul class="results">
    {{!-- @model is no longer a single object, but rather, an array. --}}
    {{#each @model as |rental|}}
      <li><Rental @rental={{rental}} /></li>
    {{/each}}
  </ul>
</div>