<Jumbo>
  <h2>Welcome to Super Rentals!</h2>
  <p>We hope y ou find exactly what you're looking for in a place to stay.</p>
  <LinkTo @route="about" class="button">About Us</LinkTo>
</Jumbo>

<Rentals @rentals={{this.model}} />
